
@mixin imgBorder {
	border: 2px solid $headingColors;
	padding:3px;
} 

@mixin brief {
  width: $widthBrief;
	float: $floatBrief;
	color: #000;
  background: $briefBackground;
  padding: $paddingBrief;
  margin: $marginBrief;
}

body {
	background: $bodyBackground;
	margin: 0;
	color: $textColor;
	font-family: $fontStack;
}

h1 {
	margin: 0;
	text-align: center;
	color: $headingColors;
	text-transform: $headSize;
}

h2 {
	color: $headingColors;
}

p {
	margin: 16px 0;
}

#content {
  width: 960px;
  margin: 5px auto;
  background: $contentBackground;
  padding: 20px;
}

.img-left {
	float:left;
	@include imgBorder;
	margin-right:20px;
}

.img-right {
	float:right;
	@include imgBorder;
	margin: 0 0 10px 20px;
}

.brief{
	box-sizing: border-box;
	@include brief;
}

a {
	color: $linkColor;
	&:hover{
		text-decoration: none;
	}
}

/* styles for table*/
caption {
	text-align: right;
	color: #000;
}

table {
	border-collapse: collapse;
	margin-bottom: 50px;
	td,th{
	border-bottom: 1px solid $tableHeaderColor;
	padding: 10px 10px 10px 20px;
	}
}

td {
	background: $tableBackgroundColor;
}

th {
	background: $tableHeaderColor;
	text-align: left;
	font-weight: normal;
	color:#000;
	text-transform: $textUppercase;
	&:nth-child(2) {
		border-left: 1px solid #fff;
		border-right:1px solid #fff;
	}
}

/* styles for form*/
.block-left{
	float: left;
	width: 49%;
}

.block-right{
	float: right;
	width: 50%;
}

.control-label {
	text-transform: $textUppercase;
	color: $formTextColor;
}

.input, textarea {
	width:100%;
	margin-bottom:15px;
	margin-top: 5px;
}

.input {
	height: 25px;
}

.btn {
	text-transform: $textUppercase;
	width: 220px;
	height: 40px;
	color: $buttonColor;
	margin:10px 0;
	font-size: 1.2em;
	border: 1px solid $buttonColor;
	background: $contentBackground;
	cursor: pointer;
	transition-duration: 0.4s;
	&:hover {
		background-color: $buttonColor;
  	color: $contentBackground;
	}
}













