$contentBackground: #fff;
$fontStack: Times, serif;
$bodyBackground: #dcbb9a;
$headingColors: #893c00;
$textColor: #000;
$linkColor: #3d70a1;
$formTextColor: #808080;
$buttonColor: $linkColor;
$textUppercase: uppercase;
$headSize: none;

// variables for table
$tableBackgroundColor:#fff;
$tableHeaderColor: #e0e0e0;

// variables for brief
$widthBrief: 435px;
$floatBrief:left;
$paddingBrief: 20px;
$marginBrief: 0 20px 20px 0;
$briefBackground: #fadcba;
