$contentBackground: #fff;
$fontStack: Times, serif;
$bodyBackground: #dcbb9a;
$briefBackground: #fadcba;
$headingColors: #893c00;
$textColor: #000;
$linkColor: #3d70a1;
$tableBackgroundColor:#fff;
$tableHeaderColor: #e0e0e0;
$formTextColor: #808080;
$buttonColor: $linkColor;
$widthBrief: 40%;
$textUppercase: uppercase;
$headSize: none;
